@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

/* font */
@font-face {
    font-family: "Inter";
    src: url("Inter.ttf");
}

/* CookieRun */
@font-face {
    font-family: "CookieRun-Black";
    src: url("./CookieRun/CookieRun-Black.ttf");
}
@font-face {
    font-family: "CookieRun-Bold";
    src: url("./CookieRun/CookieRun-Bold.ttf");
}
@font-face {
    font-family: "CookieRun-Regular";
    src: url("./CookieRun/CookieRun-Regular.ttf");
}


/* Stardos-Stencil */
@font-face {
    font-family: "Stardos-Stencil";
    src: url("./StardosStencil/StardosStencil-Regular.ttf");
}
@font-face {
    font-family: "Stardos-Stencil-Bold";
    src: url("./StardosStencil/StardosStencil-Bold.ttf");
}