@charset "utf-8";

/* font */
@font-face {
    font-family: "BalooBhaijaan";
    src: url("./BalooBhaijaan.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./Inter.ttf");
}
@font-face {
    font-family: "SingleDay";
    src: url("./SingleDay.ttf");
}

@font-face {
    font-family: "HiMelody";
    src: url("./HiMelody-Regular.ttf");
}
@font-face {
    font-family: "PoorStory";
    src: url("./PoorStory-Regular.ttf");
}

/* Dongle */
@font-face {
    font-family: "Dongle-Bold";
    src: url("./Dongle/Dongle-Bold.ttf");
}
@font-face {
    font-family: "Dongle-Light";
    src: url("./Dongle/Dongle-Light.ttf");
}
@font-face {
    font-family: "Dongle-Regular";
    src: url("./Dongle/Dongle-Regular.ttf");
}

/* CookieRun */
@font-face {
    font-family: "CookieRun-Black";
    src: url("./CookieRun/CookieRun-Black.ttf");
}
@font-face {
    font-family: "CookieRun-Bold";
    src: url("./CookieRun/CookieRun-Bold.ttf");
}
@font-face {
    font-family: "CookieRun-Regular";
    src: url("./CookieRun/CookieRun-Regular.ttf");
}

/* SunFlower */
@font-face {
    font-family: "Sunflower-Black";
    src: url("./Sunflower/Sunflower-Bold.ttf");
}
@font-face {
    font-family: "Sunflower-Medium";
    src: url("./Sunflower/Sunflower-Medium.ttf");
}
@font-face {
    font-family: "Sunflower-Light";
    src: url("./Sunflower/Sunflower-Light.ttf");
}

/* Playfair Display */
@font-face {
    font-family: "Playfair_Italic";
    src: url("./Playfair/PlayfairDisplay-Italic.ttf");
}
@font-face {
    font-family: "Playfair";
    src: url("./Playfair/PlayfairDisplay.ttf");
}